@using Models;
@using Models.DTO.MainPageControllerDTO;
@model MainPageDTO


<head>
    <link rel="stylesheet" href="~/css/MainPage/Index.css" />
</head>

<br>


<div class=" d-flex justify-content-">

    
    <div class="">

    </div>

    <div class="Page-content">
        @if (Model.conta is null){
            <p>...</p>
        }
        else
        {
            <a class="text-white" asp-area="User" asp-controller="MainPage" asp-action="Insert" asp-route-id="@Model.produto.FirstOrDefault().Id"> <button class="btn btn-primary ">Adicionar um produto </button></a>
        }
        <br>
        <br>
        @if(Model.conta is null)
        {
            <h1>nada aq nao chefia</h1>
        }
        else
        {
            <h1>@Model.conta.Name</h1>
        }

        <div class="container ListaDeProdutos p-4"> 
            @foreach (var prod in Model.produto)
            {
                <div class="produto p-2 ">
                    <a href="/User/MainPage/Details/@prod.Id">
                        <div class="imagem col-6"></div>
                        <br>
                        <div class="col-6">
                            <div class="row">
                                <p>@prod.Name</p>
                            </div>

                            <div class="row ">
                                <p>R$ @prod.Price</p>
                            </div>

                        </div>

                    </a>
                </div>
            }

        </div>

    </div>


</div>