@using Models;
@model List<Produto>

@{
    int countLine = 0;
}
<head>
    <link rel="stylesheet" href="~/css/Admin/MainPage/Index.css" />
</head>

<br>



<body>
    

    <a class="text-white" asp-action="Insert"> <button class="btn btn-primary ">Adicionar um produto </button></a>
    <br>
    <br>



    <br>
    <br>
    <div class="grid-container ListaDeProdutos">
        @foreach (var prod in Model)
        {
            <div class="produto p-2 ">
                <a href="Admin/MainPage/Details/@prod.Id">
                    <div class="imagem col-6"></div>
                    <br>
                    <div class="col-6">
                        <div class="row">
                            <p>@prod.Name</p>
                        </div>

                        <div class="row ">
                            <p>R$ @prod.Price</p>
                        </div>

                    </div>

                </a>
            </div>
            <div>
               
            </div>
        }
    </div>
        
    


</body>