@using Models;
@model List<Produto>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Full Category</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var prod in Model)
        {
            <tr>
                <td>@prod.Name</td>
                <td>@prod.Price</td>
                <td><a href="Admin/FullProductPage/Index/@prod.Id">All About it</a></td>
            </tr>




        }
        
        
        
    </tbody>
</table>