@using Models;
@model List<Produto>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var prod in Model)
        {
            <tr>
                <td>@prod.Name</td>
                <td>@prod.Price</td>
            </tr>




        }
        
        
        
    </tbody>
</table>