body{
    size:100%;
}

﻿.produto {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: darkgray;
    border: 1px solid aqua;
    width: 160px;
    height: 350px;
    margin: 20px;
    margin-right:50px;
    border: solid 1px black;
}


.produto:hover {
    border: 5px solid black;
    transition: 0.4s;
    z-index: 1;
}
/*
.produto .imagem:hover{
    width:130px;
    height:130px;
}
*/


.imagem {
    border: 2px solid black;
    width: 180px;
    height: 120px;
}



.ListaDeProdutos {
    
    background-color:white;
    display: flex;
    flex-direction: row;
    
    /*
    grid-row-end;

    grid-template-columns: 250px 250px 250px 250px 250px 250px;*/
}

