@using Models;
@using Models.ViewModels;
@model List<ProdutoVM>

<head>
    <link rel="stylesheet" href="~/css/User/Products/Index.css" />
</head>


<body>

    <br>
    <br>
    <section>
        <div class="container ListaDeProdutos">
            @foreach (var prod in Model)
            {
                <a href="User/Products/Details/@prod.Id">
                    <div class="produto row text-bg-secondary text-white p-2">
                        <div class="imagem col-6"></div>



                        <div class="col-6"> 
                            <div class="row">
                                <p>@prod.Name</p>
                            </div>

                            <div class="row ">
                                <p>R$ @prod.Price</p>
                            </div>
                        </div>
                        
                    </div>
                </a>
            }
        </div>
    </section>


	
    
</body>