@using Models;
@model List<Produto>

<head>
    
    
    
    
    <link rel="stylesheet" href="~/css/User/Products/Index.css" />


</head>


<body>

    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Full Product</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model)
            {
                <tr>
                    <td></td>
                    <td>@prod.Name</td>
                    <td>@prod.Price</td>
                    <td><a href="User/Products/Details/@prod.Id">All About it</a></td>
                </tr>




            }



        </tbody>
    </table>
</body>