body{
    size:100%;
}

﻿.produto {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid aqua;
    width: 160px;
    height: 950px;
    margin: 20px;
    margin-right:50px;
    box-shadow: black;
}


.produto:hover {
    box-shadow: 2px 2px 2px 2px rgb(255,255,255);
    transition: 0.4s;
}
/*
.produto .imagem:hover{
    width:130px;
    height:130px;
}
*/


.imagem {
    border: 2px solid black;
    width: 180px;
    height: 120px;
}



.ListaDeProdutos {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.favoriteItem:hover{
    background-color: darkorange;
    transition: 0.4s;
}