@using Models;
@model Account

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/BootstrapTheme.css" />
    
</head>


<body class="p-5 bg-dark text-white align-content-center">
	<div class="" style="width:50%">

		<form method="post">

			<div class="row">
				<label asp-for="Email" class="p-0">Email</label>
				<br>
				<input asp-for="Email" class="form-control">
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<br>

			<div class="row">
				<br>
				<label asp-for="Senha" class="p-0">Senha</label>
				<input asp-for="Senha" class="form-control">
				<span asp-validation-for="Senha" class="text-danger"></span>
			</div>
			<br>
		
			<button class="btn btn-primary" asp-controller="Auth" asp-action="Login">Logar</button>
		</form>
	</div>

</body>