@using Models;
@model Account

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/BootstrapTheme.css" />
    <link rel="stylesheet" href="~/css/Auth/Login.css" />
    @**@

</head>


<body class="p-5 bg-dark text-white align-content-center">

		<form class="fomulario" method="post">
			<div class="container" style="width:50%">

				<div class="row">
					<label asp-for="Email" class="p-0"><strong>Email</strong></label>
					<br>
					<input asp-for="Email" class="form-control" placeholder="seuEmail@gmail.com">
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<br>

				<div class="row">
					<br>
					<label asp-for="Senha" class="p-0"><strong>Senha</strong></label>
					<input asp-for="Senha" class="form-control" placeholder="Senha">
					<span asp-validation-for="Senha" class="text-danger"></span>
				</div>
				<br>
				<br>
		
				<button class="btn btn-primary" asp-controller="Auth" asp-action="Login">Logar</button>
					<br><br>
				<button class="btn btn-primary" asp-area="User" asp-controller="MainPage" asp-action="Index">Entrar sem logar</button>
					&nbsp;
					&nbsp;
					&nbsp;

				<button class="btn btn-primary" asp-area="User" asp-controller="Account" asp-action="CrieSuaConta">Crie a sua conta</button>
			</div>
		</form>

</body>